<div class="container">
  <div class="row">
    <div class=" col-lg-12 navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand">SPORTS STORE</a>
    </div>
    <div class="col-lg-3 bg-info p-1">
      {{categories.length}} Categories
    </div>
    <div class="col-lg-9 bg-success p-1">
      {{products.length}} Products
    </div>
  </div>
</div>



